<form class="gig-container" #f="ngForm" (ngSubmit)="onSubmit()">
    <h4>{{ data.quote_id ? 'Edit' : 'Create' }} Quote</h4>
    <p>
        <mat-input-container class="full-width">
            <textarea matInput
                      matTextareaAutosize
                      [matAutosizeMinRows]="1"
                      [matAutosizeMaxRows]="2"
                      placeholder="Quote"
                      [(ngModel)]="data.text"
                      name="quote">
            </textarea>
        </mat-input-container>
    </p>
    <div fxlayout="row" fxLayoutAlign="end center">
        <button mat-raised-button
                fxFlex="0 0 auto"
                color="accent"
                type="submit"
                [disabled]="!f.form.valid">SAVE</button>
        <button mat-raised-button
                fxFlex="0 0 auto"
                type="button"
                (click)="onCancel()">CANCEL</button>
    </div>
</form>


