<div class="containerCMS" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
    <div fxFlex="0 0 auto" fxFlexAlign="end">
        <button (click)="createQuote()" class="add-button" mat-mini-fab><mat-icon>add</mat-icon></button>
    </div>

    <div fxLayout="row" fxLayoutAlign="center start" fxFlex="1 0 auto">
        <mat-list class="quote-list" fxFlex="1 1 auto">
            <h3 mat-subheader>Quotes</h3>
            <mat-list-item *ngFor="let quote of quotes">

                <h4 mat-line>{{quote.text}}</h4>
                <button (click)="editItem(quote)"
                        class="inline-fab"
                        mat-mini-fab><mat-icon>edit</mat-icon>
                </button>
                <button (click)="deleteItem(quote)"
                        class="inline-fab"
                        mat-mini-fab><mat-icon>delete_forever</mat-icon>
                </button>
                <mat-slide-toggle
                        #slideToggle
                        (change)="changeEnabled(quote, slideToggle.checked)"
                        [checked]="quote.enabled">Enabled</mat-slide-toggle>
            </mat-list-item>

        </mat-list>
    </div>


</div>