<mat-sidenav-container>

    <mat-sidenav #sidenav mode="push" class="sidenav-menu">
        <!-- sidenav content -->
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap.lt-md="0px" fxLayoutGap="12px" class="menu-layout-container">

            <button fxFlex="0 1 auto" mat-button (click)="navigateToRoute('home'); sidenav.close()">HOME</button>
            <button fxFlex="0 1 auto" mat-button (click)="navigateToRoute('contact'); sidenav.close()">CONTACT</button>
        </div>
    </mat-sidenav>

    <router-outlet></router-outlet>

</mat-sidenav-container>

<mat-toolbar color="accent" >
    <span class="example-spacer"></span>

    <button fxFlex="0 1 auto"
            mat-icon-button
            fxHide="false"
            fxHide.gt-sm="true"
            (click)="sidenav.open()"
            class="body-font">
        <i class="material-icons">menu</i>
    </button>

    <div fxLayout="row"
         fxHide="true"
         fxHide.gt-sm="false">

        <a fxFlex="auto"
           mat-button
           routerLinkActive="active"
           [routerLink]="['/home']"
           class="body-font">HOME</a>
        <span class="body-font separator">/</span>

        <a fxFlex="auto"
           mat-button
           routerLinkActive="active"
           [routerLink]="['/contact']"
           class="body-font">CONTACT</a>
    </div>
</mat-toolbar>

